{% extends "template.html" %}
{% block content %}
	<h1>Welcome to FlaskTaskr</h1>
	<a href="/logout">Logout</a>
		<div class="entries">
			<br>
			<br>
			<h3><a href="/tasks">Back to Tasks</a></h3>
			<h2>Current Task:</h2>
			<div class="datagrid">
				<table>
					<thead>
						<tr>
							<th width="300px"><strong>Task Name</strong></th>
							<th width="100px"><strong>Due Date</strong></th>
							<th width="50px"><strong>Priority</strong></th>
							<th><strong>Actions</strong></th>
						</tr>
					</thead>
					{% for t in task %}
						<tr>
							<td width="300px">{{ t.name }}</td>
							<td width="100px">{{ t.due_date }}</td>
							<td width="50px">{{ t.priority }}</td>
							<td>
								<a href="{{ url_for('delete_entry',task_id = t.task_id) }}">Delete</a>
								<a href="{{ url_for('complete', task_id = t.task_id )}}">Mark as Complete</a>
							</td>
						</tr>
						{% endfor %}
				</table>
			</div>
{% endblock %}